# 💻 vscode
.vscode/
*.code-workspace

# 🤖 random code
code_snippets/

# 🎶 music
assets/music-player/*.ogg
assets/music-player/*.mp3

# 📦 databases
database/

# 📜 .env
.env

# 📦 dependencies
node_modules/

# 🔑 Google Cloud Platform key
GCP-KEY_*.json